* {
    margin: 0px;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
  }
body{
    /* background: rgb(24, 22, 22); */
    background: whitesmoke;
    color: black;
    width: 80%;
    margin: auto;
  
    /* font-family:"Roboto Slab",serif */
 
font-family: 'Secular One', "Sofia", sans-serif;
}
section{
   
    padding: 20px;
    margin-top:3% ;
}
.Circle>div{
    width: 100%;

}
.Circle>div>img{
    width: 100%;
    border-radius: 50%;
}

.Circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 10px solid green; */
    margin: auto;
    margin-top: 1%;
}


.welcome{
    font-size: 3vw;
    text-align: center;
    text-decoration:solid;
    margin-top: 30px;
    font-weight: bold;
    /* color: white; */
    /* color: black; */
    text-transform: uppercase;
    animation: color 4s 1;
}
.welcome>span{
    color: #4070f4;
}
.welcome2{
    padding-top: 10px;
    text-align: center;
    animation: color 4s 1;
}
@keyframes color{
    0%{
        color: #242839;
        font-size: 1vw;
    }
}
.About{
    width: fit-content;
    padding: 5px 15px;
    text-align: center;
    /* border: 1mm solid white; */
    border-radius: 30px;
    
}
.headding{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    /* padding: 10px 20px; */
    font-weight: bold;
    
   
}
/* .colors{
color: black;
} */
.hh{
    color: black;
}

.Download{
    background-color: #4070f4;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    color: white;
}
.intro{
    text-align: center;
    width: 60%;
    margin: auto auto 50px auto;
}
.logo{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    
   justify-content: center;
}
.logo>div{
    width: 100px;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px 25px 0px 25px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    /* color: black; */
    text-align: center;
    font-weight: bold;

}

.logo>div>img{
    width: 100%;
    height: 100px;
 
    margin-bottom: 10px;
}

#Skills{
    width: fit-content;
    padding: 5px 15px;
    /* margin: 10% auto 2% auto; */
    text-align: center;
    /* border: 1mm solid white; */
    border-radius: 30px;
    font-size: 23px;
}

#pro{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    grid-auto-rows: auto;

}
#pro>div{
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
}
#pro>div>img{
    width: 100%;
    /* height: 300px; */
    height: 250px;
   margin: 30px auto;
}
/* #pro>div>h2{
color:  snow;
} */
#pro>div>div{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 20px;
}
#pro>div>div>a>button{
    padding: 10px 30px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    background-color: white;
    font-weight: bold;    
}

div>a>button img{

    width: 30px;
}
.contact{
    margin-bottom: 30px;
}
.logos{
    margin-top: 40px;
    padding: 20px;
    display: inline;
}
.logos>a>img{
    
    border: 1mm solid  black;
    border-radius: 50%;
    margin: auto 10px;
    width: 50px;
    height: fit-content;

}
.call>a>img{
    /* border: 1mm solid  #4070f4; */
    border-radius: 50%;
    margin: auto 10px;
    width: 50px;
    height: fit-content;
}
.call>a{
    padding: 20px;
    display: flex;
    gap: 10px;
    /* color: black; */
    align-items: center
}
.footer{
    margin: 30px auto;
    opacity: 0.5;
    text-align: center;
   
}
/* -----------------------------discssion section -------------------------------------*/
.Discuss{
    width: 70%;
    display: flex;
    margin: auto;
    justify-content:space-between;
    background: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000");
}

.Discuss>div{
width: 50%;
}
.Discuss>div>img{
    width: 300px;
}
.Discuss>div>form>input{
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    gap:10px;
    margin-top: 10px;
    padding: 5px;
    width: 80%;
}
.mess{
    
    height: 80px;
}
.Discuss>div>form>input:nth-last-child(1){
    
    justify-content: center;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color: #4070f4;
    color: aliceblue;
    font-weight: bold;
    width: 30%;
}


/* Education */
.Study{
    display: flex;
   margin: 20px auto;
   justify-content: flex-start;
   gap: 20px;
    padding: 20px;
    animation: slid 3s ease-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.Study_icon>img{
width: 60px;
border-radius: 50%;
}
.animateme{
    animation: slid .7s ease-in;
}
@keyframes slid{
    0% {transform: skew(53deg) translateX(-500px);}
  
    100% {transform: skew(0deg) translateX(-100px);}
}
@keyframes me{
    0% {transform: skew(53deg) translateX(-500px);}
  
    100% {transform: skew(0deg) translateX(-100px);}
}
@media all and (min-width: 120px) and (max-width: 419px){
    body{
     width: 100%; 
     /* background-color: #4070f4; */
    }
    .text_muted {
        
    }
    .intro{
        font-size: 12px;
        width: 100%;
       
       }
       #navbar>div>img{
        width: 130px;
    }

    .intro{
        width: 100%;
       }
       #pro{
        grid-template-columns: repeat(1,1fr);
    
       }
       .Study{
        display: flex;
        flex-direction: column;
       }
       .logos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
       }
      
       .call{
        margin-top: -30px;
       }
       .Discuss{
        width: 80%;
        display: flex;
        margin: auto;
        position: relative;
        background: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?w=2000");
    }
    .contact_img{
        visibility: collapse;
    }
    .contact_content{
        position: absolute;
        align-items: center;
        border: 1mm solid gold;
        width: 200%;
    }
    .Discuss>div>form>input{
        background-color: white;
        border-top: none;
        border-left: none;
        border-right: none;
        gap:10px;
        margin-top: 10px;
        padding: 5px;
        width: 150%;
    }
    .Discuss>div>form>input:nth-last-child(1){
        width: fit-content;
    }
}

@media all and (min-width: 420px) and (max-width: 499px){
    body{
        width: 100%;
        /* background-color: red; */
    }
    section{
        /* border: 1px solid rgb(45, 43, 43); */
        padding: 20px;
        margin-top:3% ;
    }   
    #navbar{
        width: 100%;
        display: flex;

    }
    #navbar>div>img{
        /* border:1mm solid red; */
        width: 80px;
    }
    #navbar>div{
        padding: 0px;
        
        
    }
   .padding{
    width: 100%;
    /* border: 1mm solid red; */
   }
   .intro{
    width: 100%;
   }
   #pro{
    grid-template-columns: repeat(1,1fr);

   }
}
@media all and (min-width: 500px) and (max-width: 780px){
    body{
        width: 100%;
        /* color: black; */
        /* background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNvbGlkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60"); */
        /* background-color: rgb(220, 220, 220); */
    }
   

    .welcome{
        color: black;
    }
    /* #navbar{
        background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHNvbGlkfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60");
    } */
    #navbar>div>img{
    width: 100px;
    }
    .intro{
        width: 100%;
    }
    #pro{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: auto;
    }
    u{
        color:  #4070f4;
    }
    #pro>div>h2{
        /* color: gold; */
        color: rgb(5, 88, 55);
    }
    section{
        border: 1px solid rgb(91, 88, 88);
    }
}


  .topnav {
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }

  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 
  }
  
  .topnav a:hover {
 
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4070f4;
    color: white;
  }
  a{
    text-decoration: none;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
 
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

}



/* ----------------------------Contact Form------------------- */
body, input,textarea, a{
    font-family: 'Roboto', sans-serif;
}
#section-wrapper{
    width: 100%;
    padding: 10px;
}
.box-wrapper{
    position: relative;
    display: table;
    width:1100px;
    margin:auto;
    margin-top:35px;
    border-radius: 30px;
}
.info-wrap{
    width:35%;
    height: 551px;
    padding: 40px;
    float: left;
    display: block;
    border-radius: 30px 0px 0px 30px;
    background: linear-gradient(144deg, rgba(126,39,156,1) 0%, rgba(49,39,157,1) 49%);
    color: #fff;
}
.info-title{
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.info-sub-title{
    font-size: 18px;
    font-weight: 300;
    margin-top: 17px;
    letter-spacing: 0.5px;
    line-height: 26px;
}
.info-details {
    list-style: none;
    margin: 60px 0px;
}
.info-details li {
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
}
.info-details li i {
    background: #F44770;
    padding: 12px;
    border-radius: 50%;
    margin-right: 5px;
}
.info-details li a {
    color: #fff;
    text-decoration: none;
}
.info-details li a:hover {
    color: #F44770;
}
.social-icons {
    list-style: none;
    text-align: center;
    margin: 20px 0px;
}
.social-icons li {
    display: inline-block;
}
.social-icons li i {
    background: #F44770;
    color: #fff;
    padding: 15px;
    font-size: 20px;
    border-radius: 22%;
    margin: 0px 5px;
    cursor: pointer;
    transition: all .5s;
}
.social-icons li i:hover {
    background: #fff;
    color: #000000;
}
.form-wrap{
    width:65%;
    float: right;
    padding:40px 25px 35px 25px;
    border-radius: 0px 30px 30px 0px;
    background: #ecf0f3;
}
.form-title{
    text-align: left;
    margin-left: 23px;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.form-fields{
    display: table;
    width: 100%;
    padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
    border: none;
    outline:none;
    background: none;
    font-size: 18px;
    color:#555;
    padding: 20px 10px 20px 5px;
    width:100%
}
.form-fields textarea{
    height: 150px;
    resize: none;
}
.form-group{
    width: 46%;
    float: left;
    padding: 0px 30px;
    margin: 14px 12px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
    width: 96%;
}
.submit-button{
    width: 96%;
    height: 60px;
    margin: 0px 12px;
    border-radius: 30px;
    font-size: 20px;;
    font-weight: 700;
    outline: none;
    border:none;
    cursor: pointer;
    color:#fff;
    text-align: center;
    background: #F44770;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: .5s;
}
.submit-button:hover{
    background: #31279d;
}
/* Responsive css */
@media only screen and (max-width: 767px) {
    .box-wrapper{
        width: 100%;
    }
    .info-wrap,
    .form-wrap{
        width: 100%;
        height: inherit;
        float: none;  
    }
    .info-wrap{
        border-radius: 30px 30px 0px 0px;
    }
    .form-wrap{
        border-radius: 0px 0px 30px 30px;
    }
    .form-group{
        width: 100%;
        float: none;
        margin: 25px 0px;
    }
    .form-fields .form-group:last-child, 
    .submit-button{
        width: 100%;
    }
    .submit-button{
        margin: 10px 0px;
    }
   
}
*{
    padding: 0;
    margin: 0;
    
}
